* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    cursor: pointer;
}



.navbar {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo {
    min-height: 50px;
    width: 100px;
}




.logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}


.border:hover {
    border: 1.5px solid white;
}


/* box two */

.nav-first {
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 15px;
}

.nav-second {
    font-size: 14px;
    margin-left: 3px;
    color: #ffffff;
}


.add-icon {
    display: flex;
    color: white;
}

/* box 3 */

.nav-search {
    height: 45px;
    width: 620px;
    display: flex;
    border: none;
    border-radius: 9px;
}



.nav-select {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #0f1111;
    width: 50px;
    text-align: center;
    background-color: #e6e6e6;
}

.input-search{
    border: none;
    width: 100%;
    font-size: 1rem;
    padding-left: 20px;
}

.search-icon {
    font-size: 1.2rem;
    color: #0f1111;
    border: none;
    background-color: rgb(243, 163, 15);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* box 4 */

.sign-first {
    font-size: 12px;
    color: #ffffff;
}


.sign-second {
    font-size: 14px;
    color: #ffffff;
}

.nav-search:hover {
    border: 2px solid orange;
}

.cart-section {
    display: flex;
}

.cart-icon {
    display: flex;
    color: #cccccc;
    font-size: 25px;
}

.cart-text {
    color: white;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops {
    width: 80%;
}

.panel-ops p{
    display: inline;
    font-size: 0.9rem;
    margin-left: 10px;
}


.panel-deals {
    font-size: 1rem;
    font-weight: 100;
}


.panel-ops p {
    border: 2px solid transparent;
}

.panel-ops p:hover{
    border: 2px solid white;
}





.hero-section {
    background-image: url("/hero_image.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: #e6e6e6;
    height: 37px;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    justify-content: center;
    margin-bottom: 20px;
}


.hero-msg a {
    color: rgb(13, 230, 111);
    padding-left: 20px;
}

/* shop section */

.shop-section {
    background-color:#e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    height: 440px;
    width: 22%;
    background-color: white;
    margin-top: 15px;
}


.box-img {
    height: 350px;
    background-size: cover; 
    margin: 15px 15px 0px 15px;
}

.content-heading {
    margin-top: 10px ;
    margin-left: 25px;
}

.shop-msg{
    color: rgb(19, 238, 165);
    margin-top: 10px;
    margin-left: 4px;
    border: 1.5px solid transparent;
    display: inline-block;
}



.shop-msg:hover {
    border: 1.5px solid black;
}

/* footer section */

footer {
    margin-top: 15px;
}

.foot-panel {
    height: 40px;
    width: 100%;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 1rem;
}



.foot-panel2 {
    height: 280px;
    width: 100%;
    background-color: #222f3d;
    color: #dddddd;
    display: flex;
    justify-content: space-evenly;
}


ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}



.foot-panel3 {
    height: 70px;
    width: 100%;
    background-color: #222f3d;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foot-logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}



.foot-panel5 {
    height: 70px;
    background-color: #37475a;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.foot-msg {
   font-size: 1rem;
   text-align: center;
   padding-top: 10px;
}




.copy-right {
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}

